<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <ul>
      {% for country in countries %}
        <li>{{ country[0] }}</a>
          <ul>
            {% for state in country[1] %}
              <li>{{ state[0] }}
                <ul>
                  {% for item in state[1] %}
                  <li>
                    {%- if item.icon %}
                    <img src={{ item.icon }}>
                    {% endif %}
                    <a href="{{ item.filename }}.html">{{ item.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
